@import "tailwindcss";
@import "tw-animate-css";
@import "@zayne-labs/ui-react/css/preset.css";

/* ------------------*/
/* App Colors        */
/*-------------------*/
@theme {
	--color-vitastock-primary-main: hsl(222, 83%, 52%);
	--color-vitastock-primary-dark: hsl(218, 100%, 39%);
	--color-vitastock-primary-darker: hsl(226, 70%, 22%);
	--color-vitastock-primary-glow: hsl(222, 95%, 65%);
	--color-vitastock-primary-light: hsl(225, 34%, 44%);
	--color-vitastock-primary-subtle: hsl(226, 100%, 84%);

	--color-vitastock-body-color: hsl(230, 12%, 30%);
}

/* ------------------*/
/* Main Theme        */
/*-------------------*/
@theme {
	/*--- Breakpoints ---*/
	--breakpoint-*: initial;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1000px;
	--breakpoint-lg: 1280px;

	/*--- Fonts ---*/
	--font-bricolage-grotesque: "Bricolage Grotesque", "Inter", "system-ui", sans-serif;
	--font-fraunces: "Fraunces", serif;
	--font-inter: "Inter", "system-ui", sans-serif;

	/*--- Animations ---*/
	--animate-slide-from-left: slideFromLeft 0.5s cubic-bezier(0.32, 0.72, 0, 1);

	@keyframes slideFromLeft {
		from {
			transform: translate3d(calc(100% * -1), 0, 0);
		}
		to {
			transform: translate3d(0, 0, 0);
		}
	}
}

/* ------------------*/
/* Shadcn Theme      */
/*-------------------*/
@theme {
	--color-shadcn-background: hsl(0, 0%, 100%);
	--color-shadcn-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-primary: hsl(222.2, 47.4%, 11.2%);
	--color-shadcn-primary-foreground: hsl(210, 40%, 98%);

	--color-shadcn-secondary: hsl(210, 40%, 96.1%);
	--color-shadcn-secondary-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-card: hsl(0, 0%, 100%);
	--color-shadcn-card-foreground: hsl(0, 0%, 0%);

	--color-shadcn-popover: hsl(0, 0%, 100%);
	--color-shadcn-popover-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-accent: hsl(210, 40%, 96.1%);
	--color-shadcn-accent-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-muted: hsl(210, 40%, 96.1%);
	--color-shadcn-muted-foreground: hsl(215.4, 16.3%, 46.9%);

	--color-shadcn-input: hsl(214.3, 31.8%, 91.4%);
	--color-shadcn-border: hsl(214.3, 31.8%, 91.4%);
	--color-shadcn-ring: hsl(215, 20.2%, 65.1%);

	--color-shadcn-destructive: hsl(0 100% 50%);
	--color-shadcn-destructive-foreground: hsl(210 40% 98%);

	--color-shadcn-sidebar: oklch(0.985 0 0);
	--color-shadcn-sidebar-foreground: oklch(0.145 0 0);
	--color-shadcn-sidebar-primary: oklch(0.205 0 0);
	--color-shadcn-sidebar-primary-foreground: oklch(0.985 0 0);
	--color-shadcn-sidebar-accent: oklch(0.97 0 0);
	--color-shadcn-sidebar-accent-foreground: oklch(0.205 0 0);
	--color-shadcn-sidebar-border: oklch(0.922 0 0);
	--color-shadcn-sidebar-ring: oklch(0.708 0 0);

	--color-sonner-success-bg: hsl(150, 100%, 6%);
	--color-sonner-success-text: hsl(150, 100%, 90%);
	--color-sonner-success-border: hsl(147, 100%, 12%);

	--color-sonner-error-bg: hsl(358, 76%, 10%);
	--color-sonner-error-text: hsl(358, 100%, 81%);
	--color-sonner-error-border: hsl(357, 89%, 16%);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-collapsible-down: collapsible-down 0.2s ease-in-out;
	--animate-collapsible-up: collapsible-up 0.2s ease-in-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes collapsible-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-collapsible-content-height);
		}
	}

	@keyframes collapsible-up {
		from {
			height: var(--radix-collapsible-content-height);
		}
		to {
			height: 0;
		}
	}
}

/* ------------------*/
/* Custom Properties */
/*-------------------*/
@layer base {
	:root {
		--chart-1: oklch(0.646 0.222 41.116);
		--chart-2: oklch(0.6 0.118 184.704);
		--chart-3: oklch(0.398 0.07 227.392);
		--chart-4: oklch(0.828 0.189 84.429);
		--chart-5: oklch(0.769 0.188 70.08);
	}

	.dark {
		--chart-1: oklch(0.488 0.243 264.376);
		--chart-2: oklch(0.696 0.17 162.48);
		--chart-3: oklch(0.769 0.188 70.08);
		--chart-4: oklch(0.627 0.265 303.9);
		--chart-5: oklch(0.645 0.246 16.439);
	}
}

/* ------------------*/
/* General CSS Reset */
/*-------------------*/
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		height: 100%;
		scroll-behavior: smooth;
		-webkit-tap-highlight-color: transparent;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		min-height: 100%;
		line-height: 1.5;
		font-family: var(--font-inter);
		color: var(--color-vitastock-body-color);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-bricolage-grotesque);
	}

	img {
		width: 100%;
		max-inline-size: 100%;
		max-width: unset;
	}

	button:not(:disabled) {
		cursor: pointer;
	}
}

@utility nav-link-transition {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		bottom: 20px;
		left: 50%;
		background-color: var(--color-vitastock-primary-dark);
		opacity: 0;
		transform: translateX(-50%);
		height: 2px;
		width: 2px;
		border-radius: 50%;
		transition:
			opacity 0.4s ease 0s,
			bottom 0.3s ease 0.1s,
			height 0.5s ease 0.3s,
			border-radius 0.2s ease 0.4s,
			width 0.5s ease 0.4s;
	}

	&:hover::before {
		bottom: -0.7px;
		height: 2px;
		width: calc(100% + 2px);
		border-radius: 20px;
		opacity: 1;
	}
}
